<launch>
  <arg name="model" default="$(env DYNO_MODEL)" doc="model type [minion]"/>
  <param name="model" value="$(arg model)"/>

  <!-- dyno_teleop_key already has its own built in velocity smoother -->
  <node pkg="dyno_teleop" type="dyno_teleop_key" name="dyno_teleop_keyboard"  output="screen">
  </node>
</launch>
